<nav> <%= link_to '戻る', shops_path %> </nav>

<h1>おすすめ店の編集</h1>

<%= form_for :shop, url: shop_path(@shop), method: :patch do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>
      <ul>
      <% @shop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name %>: <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %>: <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :url %>: <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
